html {
  scroll-behavior: smooth;
  font-size: 18px;
}

.container {
  max-width: 900px;
}

body {
  background-color: #f5f5f5;
}

.theme {
  color: #6ed3cf !important;
}

/* Navbar */
.navbar {
  background-color: #151515 !important;
}

.navbar-nav {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
  font-size: 15px;
  margin: 0 15px;
}

@media (max-width: 550px) {
  .navbar-nav > li {
    margin: 0 9px;
  }
}

@media (max-width: 415px) {
  .navbar-nav > li {
    font-size: 12px;
  }
}

@media (max-width: 356px) {
  .navbar-nav > li {
    margin: 0 5px;
  }
}

.nav-link {
  color: #cacaca !important;
}

/* For header and footer */
.lead {
  margin: 0 10px;
}

.heading {
  background-color: #151515;
  color: #cacaca;
  padding-top: 110px;
  padding-bottom: 150px;
}

.section {
  padding-top: 30px;
  background-color: #f5f5f5;
}

.display-4 {
  font-size: 40px;
  color: #151515;
}

textarea {
  min-height: 100px;
}

p.links > a {
  color: #6ed3cf !important;
  text-decoration: underline;
  padding: 0 10px;
  font-weight: 300;
  font-size: 18px;
}

p.links {
  padding-top: 30px;
}

.links.bottom-links > a {
  font-size: 22px;
}

.links.bottom-links {
  padding-top: 0;
}

/* For leasetransfer card */
.card-title > a {
  color: #151515;
  text-decoration: underline;
}

.card-img-top {
  object-fit: cover;
  object-position: 50% 0;
}

.contact {
  background-color: #151515;
  padding-bottom: 50px;
}

.carousel-item > .card > .card-body {
  max-height: 200px;
}

@media (min-width: 767px) {
  #myCarousel {
    display: none;
  }
}

@media (max-width: 767px) {
  .project-cards {
    display: none;
  }

  .card {
    height: 100%;
  }

  .carousel-item {
    height: 100%;
  }

  .carousel-inner {
    height: 100%;
  }

  .card-body {
    height: 100%;
  }

  .carousel-item > .card > .card-body > p {
    min-height: 220px;
  }
}

.left-arrow {
  height: 30px;
  margin-right: 60px;
}

.right-arrow {
  height: 30px;
  margin-left: 60px;
}

/* Carousel */

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
